<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is first page</h1>
    {% include 'link.html' %}
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
      cupiditate, a atque asperiores delectus fugit numquam adipisci
      voluptatibus ratione amet. Nostrum in dolorum nihil odit odio ex aut ipsum
      animi cupiditate. Doloremque, asperiores magni facere qui iusto inventore
      a tenetur voluptatem velit! Repellendus tempore nihil ea voluptas placeat
      beatae dolore.
    </p>
    <button type="submit">Home</button>
  </body>
</html>
