<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <h1>this is index page</h1>
    {% include 'link.html' %}

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quaerat
      ducimus expedita adipisci maiores voluptatibus, dolor reiciendis natus
      itaque vero similique aperiam vel? Ad, reprehenderit. Nobis nihil
      architecto illo necessitatibus saepe voluptate, molestiae officiis ab
      neque cumque placeat, voluptatibus, nulla debitis laboriosam similique
      quaerat? Blanditiis atque dolore eos a quod voluptatibus quia animi! Nam
      natus autem nostrum rem, corporis odit.
    </p>
    <button type="submit">Index</button>
  </body>
</html>
