<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>this is Naviagation Page</h2>
    {% include 'link.html' %}

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quia ipsa,
      laborum recusandae aut suscipit similique ducimus eaque, repellendus ullam
      odit! Amet sequi voluptates in provident inventore repudiandae velit!
      Consectetur quisquam veniam ipsa repellat nostrum at quos porro iusto. Eos
      blanditiis, ipsam, maiores architecto optio sequi distinctio magnam,
      cumque accusantium vel nulla quo libero perspiciatis perferendis dolor
      inventore commodi nam!
    </p>
  </body>
</html>
